:8080 {
	encode zstd gzip

	@signozRoot path /__signoz
	redir @signozRoot /__signoz/ 308

	handle /__neck_dash/api/trace {
		reverse_proxy neckdash:8080 {
			header_up X-Neckdash-Trace-Auth {http.request.header.X-Encore-Auth}
			header_up -X-Encore-Auth
		}
	}

	handle /__signoz/* {
		reverse_proxy signoz:8080
	}

	@neckDashDisabled path /__neck_dash /__neck_dash/*
	handle @neckDashDisabled {
		respond "not found" 404
	}

	handle_path /api/* {
		reverse_proxy backend:8080
	}

	handle /__encore/healthz {
		reverse_proxy backend:8080
	}

	handle {
		reverse_proxy frontend:3000
	}
}
